<div class="py-2">
  <div class="px-4 py-2 text-xs text-slate-600 font-semibold tracking-wider uppercase select-none">
    Navigation
  </div>

  <%= render Demo::MenuItemComponent.new(path: demo_api_path, icon: "share-nodes", label: "GraphQL API") %>
  <%= render Demo::MenuItemComponent.new(path: demo_mac_guffins_path, icon: "trophy", label: "MacGuffins") %>
  <%= render Demo::MenuItemComponent.new(theme: :secret, path: demo_secrets_path, icon: "user-secret", label: "Secret Page") if Flipper.enabled?(:secrets, current_user) %>
  <%= render Demo::MenuItemComponent.new(path: letter_opener_path, icon: "paper-plane", label: "Sent Mail") if Rails.env.development? %>
  <%= render Demo::MenuItemComponent.new(path: demo_terminal_path, icon: "terminal", label: "Terminal Guide") %>

  <div class="my-2 border-t border-slate-300"></div>

  <% if current_user&.admin? %>
    <div class="px-4 py-2 text-xs text-slate-600 font-semibold tracking-wider uppercase select-none">
      Admin
    </div>

    <%= render Demo::MenuItemComponent.new(path: resque_path, icon: "life-ring", label: "Background Jobs") %>
    <%= render Demo::MenuItemComponent.new(path: flipper_path, icon: "fish-fins", label: "Feature Flags") %>
    <%= render Demo::MenuItemComponent.new(path: admin_path, icon: "user-shield", label: "SuperAdmin Dashboard") %>
    <%= render Demo::MenuItemComponent.new(path: notifications_path, icon: "bell", label: "System Notifications") %>

    <div class="my-2 border-t border-slate-300"></div>
  <% end %>

  <% if current_user %>
    <%= render Demo::MenuItemComponent.new(path: settings_root_path, icon: "cog", label: "User Settings") %>
    <%= render Demo::MenuItemComponent.new(path: plans_path, icon: "credit-card", label: "Change Plan") %>
    <%= render Demo::MenuItemComponent.new(path: auth_sign_out_path, icon: "person-walking-arrow-loop-left", label: "Sign Out") %>
  <% else %>
    <%= render Demo::MenuItemComponent.new(path: auth_sign_in_path, icon: "person-walking-arrow-right", label: "Sign In") %>
  <% end %>
</div>
