<header class="fixed w-full p-4 bg-blue-900 text-white shadow-slate-600 shadow-xl z-10">
  <nav class="flex items-center justify-between sm:mx-11">
    <div class="flex items-center justify-between">
      <%= image_tag "demo/ruby_on_rails.jpg", class: "p-1 bg-[#cc0000] rounded-lg", size: "44", alt: "Ruby on Rails" %>
      <%= link_to t("title"), demo_welcome_path, class: "ml-2 font-semibold text-xl tracking-tight select-none hover:no-underline!"%>
    </div>

    <div class="relative flex items-center" data-controller="dropdown">
      <% if current_user %>
        <button class="w-[42] h-[42] ring-1 ring-slate-300 rounded-md cursor-pointer" type="button" data-dropdown-target="button" data-action="dropdown#toggle" aria-haspopup="true" aria-expanded="false">
          <%= gravatar_image_tag(current_user.email, :alt => current_user.email, :class => "rounded-md") %>
        </button>
      <% else %>
        <button class="w-[42] h-[42] p-3 bg-slate-800 hover:bg-slate-900 active:bg-slate-950 ring-1 ring-slate-800 hover:ring-slate-900 active:ring-slate-950 text-sm rounded-md cursor-pointer" type="button" data-dropdown-target="button" data-action="dropdown#toggle" aria-haspopup="true" aria-expanded="false">
          <%= fas_icon("bars") %>
        </button>
      <% end %>

      <div class="hidden absolute top-12 right-0 mt-1 w-72 bg-white text-slate-900 shadow-slate-600 shadow-xl ring-1 ring-slate-300 rounded-md origin-top-right transform transition duration-150 ease-out opacity-0 scale-95 -translate-y-1" role="menu" data-dropdown-target="menu">
        <% if current_user %>
          <div class="px-4 py-2 text-xs text-slate-600 select-none">
            Signed in as <span class="font-medium text-slate-700 break-all"><%= current_user.email %></span>
          </div>
          <div class="border-t border-slate-300"></div>
        <% end %>

        <div class="py-2">
          <div class="px-4 py-2 text-xs text-slate-600 font-semibold tracking-wider uppercase select-none">
            Navigation
          </div>

          <%= render "demo/shared/menu_item", path: demo_welcome_path, icon: "house", text: "Home" %>
          <%= render "demo/shared/menu_item", path: demo_mac_guffins_path, icon: "trophy", text: "MacGuffins" %>

          <% if current_user %>
            <%= render "demo/shared/menu_item", path: user_profile_path, icon: "user", text: "User Profile" %>
          <% end %>

          <% if Flipper.enabled?(:secrets, current_user) %>
            <%= render "demo/shared/menu_item",
                       item_classes: "flex items-center gap-2 px-4 py-2 text-sm text-pink-600 hover:bg-pink-100 hover:no-underline!",
                       path: demo_secrets_path,
                       icon: "user-secret",
                       text: "Secrets" %>
          <% end %>

          <div class="my-2 border-t border-slate-300"></div>

          <% if current_user&.admin? %>
            <div class="px-4 py-2 text-xs text-slate-600 font-semibold tracking-wider uppercase select-none">
              Admin
            </div>

            <%= render "demo/shared/menu_item", path: admin_path, icon: "user-shield", text: "Admin Dashboard" %>
            <%= render "demo/shared/menu_item", path: resque_path, icon: "life-ring", text: "Background Jobs" %>
            <%= render "demo/shared/menu_item", path: flipper_path, icon: "fish-fins", text: "Feature Flags" %>

            <div class="my-2 border-t border-slate-300"></div>
          <% end %>

          <div class="px-4 py-2 text-xs text-slate-600 font-semibold tracking-wider uppercase select-none">
            Resources
          </div>

          <%= render "demo/shared/menu_item", path: "https://github.com/nschneble/rails-superstack?tab=readme-ov-file#rails-superstack", icon: "file-lines", text: "Project README" %>

          <% if Rails.env.development? %>
            <%= render "demo/shared/menu_item", path: letter_opener_path, icon: "paper-plane", text: "Sent Mail" %>
          <% end %>

          <%= render "demo/shared/menu_item", path: demo_terminal_path, icon: "terminal", text: "Terminal Commands" %>

          <div class="my-2 border-t border-slate-300"></div>

          <% if current_user %>
            <%= render "demo/shared/menu_item", path: auth_sign_out_path, icon: "person-walking-arrow-loop-left", text: "Sign out" %>
          <% else %>
            <%= render "demo/shared/menu_item", path: auth_sign_in_path, icon: "person-walking-arrow-right", text: "Sign in" %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>

  <%= render "shared/flash" %>
</header>
