<%= form_with url: settings_create_api_token_path,
              scope: :api_token,
              id: "api_token_form" do |form| %>

  <% if error_message.present? %>
    <div class="w-4/5 sm:w-full max-w-[325] mx-auto my-4 p-3 bg-pink-100 text-pink-950 rounded-md">
      <p class="text-sm font-semibold"><%= error_message %></p>
    </div>
  <% end %>

  <%= form.label :name, t("settings.api_tokens.label") %>
  <%= form.text_field :name,
                      placeholder: t("settings.api_tokens.placeholder"),
                      required: true,
                      autofocus: true %>

  <%= form.submit t("settings.api_tokens.submit") %>
<% end %>
