<ul class="flex flex-col gap-y-3 list-none ml-2">
  <% commands.each do |command| %>
    <li>
      <%= fa_stacked_icon(["square", command.icon], [current_theme.highlight, current_theme.text]) %>
      <span><%= command.rendered_description %></span>

      <%= tag.div class: [ "relative mx-12 my-2 bg-slate-900 rounded-sm rounded-tr-md rounded-br-md", current_theme.highlight ] do %>
        <pre class="p-2 pr-[42] truncate">
          <span class="text-white select-none">% </span>
          <%= tag.span command.code, id: command.name %>
        </pre>

        <%= pom_copy_to_clipboard(align: :right, target: command.name) %>
      <% end %>
    </li>
  <% end %>
</ul>
