<div class="w-full sm:ml-11 mt-[76] mb-[52] text-white overflow-y-scroll">
  <div class="max-w-[650] mx-auto">
    <h1 class="mx-3 sm:mx-0 mt-8 sm:mt-[50] mb-4 font-semibold text-3xl tracking-tight">Next Steps</h1>
    <ul class="flex flex-col gap-y-3 list-none ml-2">
      <li>
        <%= fa_stacked_icon(["square", "key"], ["text-lime-500", "text-white"]) %>
        <% if current_user %>
          <%= link_to "Sign out", auth_sign_out_path, class: "hover:text-amber-400 underline!" %>
          <span class="hidden sm:inline"> with <a class="hover:text-amber-400 underline!" href="https://github.com/mikker/passwordless">Passwordless</a></span>
        <% else %>
          <%= link_to "Sign in", auth_sign_in_path, class: "hover:text-amber-400 underline!" %>
          <span class="hidden sm:inline"> with <a class="hover:text-amber-400 underline!" href="https://github.com/mikker/passwordless">Passwordless</a></span>
          <p class="ml-12 text-sm italic">Try <span class="text-amber-200 font-semibold">user@superstack.dev</span> for a regular user or <span class="text-amber-200 font-semibold">admin@superstack.dev</span> for an admin</p>
        <% end %>
      </li>
      <li>
        <%= fa_stacked_icon(["square", "trophy"], ["text-lime-500", "text-white"]) %>
        Check out <%= link_to "MacGuffins", demo_mac_guffins_path, class: "hover:text-amber-400 underline!" %><span class="hidden sm:inline"> defined with <a class="hover:text-amber-400 underline!" href="https://github.com/CanCanCommunity/cancancan">CanCanCan</a> access rules</span>
        <p class="ml-12 text-sm italic">Try visiting the page when you're <span class="text-amber-200 font-semibold">signed out</span>, signed in as a <span class="text-amber-200 font-semibold">regular user</span>, and signed in as an <span class="text-amber-200 font-semibold">admin</span>. You'll see different items!</p>
      </li>
      <li>
        <%= fa_stacked_icon(["square", "user-shield"], ["text-lime-500", "text-white"]) %>
        Open the <%= link_to "admin dashboard", admin_path, class: "hover:text-amber-400 underline!" %><span class="hidden sm:inline"> with <a class="hover:text-amber-400 underline!" href="https://github.com/ThibautBaissac/super_admin">SuperAdmin</a></span>
      </li>
      <li>
        <%= fa_stacked_icon(["square", "fish-fins"], ["text-lime-500", "text-white"]) %>
        Enable <%= link_to "feature flags", flipper_path, class: "hover:text-amber-400 underline!" %><span class="hidden sm:inline"> with <a class="hover:text-amber-400 underline!" href="https://github.com/flippercloud/flipper">Flipper</a></span>
        <p class="ml-12 text-sm italic">You need to be signed in as an <span class="text-amber-200 font-semibold">admin</span> to access feature flags
      </li>
    </ul>
  </div>
</div>
