<div class="w-full sm:ml-11 mt-[76] mb-[52] text-white overflow-y-scroll">
  <div class="max-w-[650] mx-auto">
    <h1 class="mx-3 sm:mx-0 mt-8 sm:mt-[50] mb-4 font-semibold text-3xl tracking-tight">Where to go from here?</h1>
    <ul class="flex flex-col gap-y-3 list-none ml-2">
      <li>
        <%= fa_stacked_icon(["square", "key"], ["text-lime-500", "text-white"]) %>
        <% if current_user %>
          <a class="hover:text-amber-400 underline!" href="/sign_out/">Sign out</a><span class="hidden sm:inline"> with <a class="hover:text-amber-400 underline!" href="https://github.com/mikker/passwordless">Passwordless</a></span>
        <% else %>
          <a class="hover:text-amber-400 underline!" href="/sign_in/">Sign in</a><span class="hidden sm:inline"> with <a class="hover:text-amber-400 underline!" href="https://github.com/mikker/passwordless">Passwordless</a></span>
          <p class="ml-12 text-sm italic">Try entering <span class="text-amber-200 font-semibold">user@superstack.dev</span> for a regular user with a couple of MacGuffins, or <span class="text-amber-200 font-semibold">admin@superstack.dev</span> for an admin user!</p>
        <% end %>
      </li>
      <li>
        <%= fa_stacked_icon(["square", "paper-plane"], ["text-lime-500", "text-white"]) %>
        <a class="hover:text-amber-400 underline!" href="/sent_mail/">Preview sent mail</a><span class="hidden sm:inline"> with <a class="hover:text-amber-400 underline!" href="https://github.com/ryanb/letter_opener">Letter Opener</a> and <a class="hover:text-amber-400 underline!" href="https://github.com/fgrehm/letter_opener_web">Letter Opener Web</a></span>
      </li>
      <li>
        <%= fa_stacked_icon(["square", "icons"], ["text-lime-500", "text-white"]) %>
        <a class="hover:text-amber-400 underline!" href="https://github.com/nschneble/rails-superstack#set-up-font-awesome">Create an icon kit</a><span class="hidden sm:inline"> to use <a class="hover:text-amber-400 underline!" href="https://fontawesome.com/">Font Awesome</a></span>
        <p class="ml-12 text-sm italic"><span class="font-semibold">Hint:</span> You'll see icons on this page!</p>
      </li>
    </ul>
    <h2 class="mx-3 sm:mx-0 mt-12 mb-4 font-semibold text-2xl tracking-tight">Prefer the terminal?</h2>
    <ul class="flex flex-col gap-y-2 list-none ml-2 mb-[84]">
      <li>
        <%= fa_stacked_icon(["square", "satellite-dish"], ["text-lime-500", "text-white"]) %>
        Try out <a class="hover:text-amber-400 underline!" href="https://github.com/silva96/log_bench">LogBench</a><span class="hidden sm:inline"> for some real-time monitoring</span>
        <div class="relative mx-12 my-2 bg-slate-900 text-lime-500 rounded-sm rounded-tr-md rounded-br-md">
          <pre class="p-2 pr-[42] truncate"><span class="text-white select-none">% </span><span id="log_bench">log_bench log/development.log</span></pre>
          <%= render "shared/copy_button",
            target: "#log_bench",
            button_classes: "absolute right-0 top-0 p-2 bg-slate-800 hover:bg-slate-950 text-white rounded-tr-sm rounded-br-sm cursor-pointer" %>
        </div>
      </li>
      <li>
        <%= fa_stacked_icon(["square", "spell-check"], ["text-lime-500", "text-white"]) %>
        Lint <span class="hidden sm:inline">and format your code</span> with <a class="hover:text-amber-400 underline!" href="https://rubocop.org/">RuboCop</a>
        <div class="relative mx-12 my-2 bg-slate-900 text-lime-500 rounded-sm rounded-tr-md rounded-br-md">
          <pre class="p-2 pr-[42] truncate"><span class="text-white select-none">% </span><span id="rubocop">bin/rubocop</span></pre>
          <%= render "shared/copy_button",
            target: "#rubocop",
            button_classes: "absolute right-0 top-0 p-2 bg-slate-800 hover:bg-slate-950 text-white rounded-tr-sm rounded-br-sm cursor-pointer" %>
        </div>
      </li>
      <li>
        <%= fa_stacked_icon(["square", "microscope"], ["text-lime-500", "text-white"]) %>
        Run <a class="hover:text-amber-400 underline!" href="https://rspec.info/">RSpec</a><span class="hidden sm:inline"> tests with <a class="hover:text-amber-400 underline!" href="https://github.com/thoughtbot/factory_bot_rails">Factory Bot</a> and <a class="hover:text-amber-400 underline!" href="https://github.com/faker-ruby/faker">Faker</a></span>
        <div class="relative mx-12 my-2 bg-slate-900 text-lime-500 rounded-sm rounded-tr-md rounded-br-md">
          <pre class="p-2 pr-[42] truncate"><span class="text-white select-none">% </span><span id="rspec">bin/rspec</span></pre>
          <%= render "shared/copy_button",
            target: "#rspec",
            button_classes: "absolute right-0 top-0 p-2 bg-slate-800 hover:bg-slate-950 text-white rounded-tr-sm rounded-br-sm cursor-pointer" %>
        </div>
      </li>
      <li>
        <%= fa_stacked_icon(["square", "code-merge"], ["text-lime-500", "text-white"]) %>
        <span class="hidden sm:inline">Ready to merge? </span><a class="hover:text-amber-400 underline!" href="https://github.com/nschneble/rails-superstack?tab=readme-ov-file#linting-testing-and-ci">Run local CI</a>
        <div class="relative mx-12 my-2 bg-slate-900 text-lime-500 rounded-sm rounded-tr-md rounded-br-md">
          <pre class="p-2 pr-[42] truncate"><span class="text-white select-none">% </span><span id="ci">bin/ci</span></pre>
          <%= render "shared/copy_button",
            target: "#ci",
            button_classes: "absolute right-0 top-0 p-2 bg-slate-800 hover:bg-slate-950 text-white rounded-tr-sm rounded-br-sm cursor-pointer" %>
        </div>
      </li>
    </ul>
  </div>
</div>
