<%= fa_stacked_icon(["square", "heart-pulse"], [current_theme.highlight, current_theme.text]) %>
Health Check
<%= tag.p class: "ml-[50] mb-1 text-sm" do %>
  <%= link_to "Run Health Query with GraphiQL",
              graphiql_path,
              class: "hover:text-amber-400 underline!" %>
<% end %>
<%= tag.p class: "ml-[50] mb-4 text-sm" do %>
  <%= link_to "Inspect Schema",
              graphql_describe_path,
              class: "hover:text-amber-400 underline!" %>
<% end %>
<%= tag.div class: [ "relative mx-12 my-2 bg-slate-900 rounded-sm rounded-tr-md rounded-br-md", current_theme.highlight ] do %>
  <pre class="p-2 pr-[42] text-sm truncate">
    <span class="text-white select-none">POST </span>
    <span>
      /graphql<br><br>
      Content Type: application/json<br>
      Payload Data: { query: { health { status } } }<br><br>
      200 Response:<br>
      { data: { health: { status: "ok" } } }
    </span>
  </pre>

  <%= pom_copy_to_clipboard align: :right,
                            text: "curl -s -H 'Content-Type: application/json' -X POST http://localhost:3000/graphql -d '{\"query\":\"{ health { status } }\"}' | jq",
                            class: "rounded-bl-md rounded-br-none" %>
<% end %>
